<!DOCTYPE html>
<html>

<head>
	<title>Captcha Solver</title>
	<script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
		<p>Adidas Account Generator | ryan9918_</p>

		<div class="g-recaptcha" data-sitekey="{{ sitekey }}" data-callback="submitCaptcha"></div>

		<script src=static/scripts/jquery-3.2.1.min.js></script>

		<script type="text/javascript">
			function submitCaptcha() {
				$(function() {
					jQuery.ajax({
						url: "/submit",
						method: "POST",
						data: {
								"g-recaptcha-response": grecaptcha.getResponse()
						},
						dataType: "html"
					});
					grecaptcha.reset();
				});
			}
		</script>

</body>

</html>